.App {
  text-align: center;
}

.body {
  background-color: #1e0338;
  overflow: hidden;
  height: 100vh;
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-header {
  background-color: #ffffff00;
  border-bottom: 2px solid lightgray;
}
.navbar-nav a {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px !important;
  color: white !important;
  text-align: right;
  cursor: pointer;
}

h5 {
  color: white;
  font-size: 26px;
  font-weight: bolder !important;
}

.sec-1 h6,
.cl-btn,
.signup-modal h6,
.connect-modal h6 {
  color: #fff !important;
  font-weight: 800;
  padding-top: 3px;
}

.acc-title {
  font-size: 10px !important;
  color: #fff !important;
  font-weight: 800;
}

.cl-btn {
  font-size: 24px !important;
}

.card {
  background-color: transparent !important;
  border: 1px solid lightgray !important;
  border-radius: 15px !important;
  min-height: 500px;
  margin: 20px;
  color: #fff;
  width: 100%;
}

.transaction-card {
  border: 0.6px solid #fcff5a !important;
  border-radius: 15px !important;
}

.overview-card {
  /* background-color: transparent !important; */
  border: 1px solid lightgray !important;
  border-radius: 15px !important;
  min-height: 200px;
  margin: 0px 60px;
  padding: 20px;
  color: #fff;
  width: 100%;
  background-image: url("./assets/bk-overview.png") !important;
  background-size: contain;
  background: round;
}
.overview-card h6 {
  font-weight: 800;
}

.overview-card .learnmore-btn button {
  padding: 8px 35px;
  border-radius: 30px;
  color: #fff;
  border: none;
  font-size: 14px;
  background: linear-gradient(to bottom, #ce60a5 0%, #6724a9 100%);
}

.card-header .h-content li {
  width: 33% !important;
  font-size: 14px;
  font-weight: 800;
}
.con-box {
  border: 1px solid lightgray;
  border-radius: 15px;
  min-height: 500px;
  margin: 20px;
  color: #fff;
}

.inner-row {
  border: 1px solid lightgray;
  border-radius: 25px;
  margin-top: 10px;
  padding: 5px 20px;
}

.c-modal {
  color: #fff!important;
}

.transaction-text {
  color: rgb(254, 246, 216)!important;
}

.sec-2 .card-body .sp-label {
  font-size: 14px;
  color: rgb(180, 8, 196) !important;
}

.login-btn button,
.showmore-btn button {
  padding: 8px 35px;
  border-radius: 30px;
  color: #fff;
  border: none;
  font-size: 14px;
  background: linear-gradient(to bottom, #ce60a5 0%, #6724a9 100%);
}

.claim-btn button {
  padding: 5px 45px;
  border-radius: 30px;
  color: #fff;
  border: none;
  font-size: 14px;
  background: linear-gradient(to bottom, #fcff5a 0%, #9c2906 100%);
}

.cd-btn {
  padding: 5px 45px;
  border-radius: 30px;
  color: #fff;
  border: none;
  font-size: 14px;
  width: 150px;
}
.connect-btn {
  background: rgb(15, 187, 15);
}

.disconnect-btn {
  background: rgb(187, 15, 15);
}

.acc-card .disconnect-btn,
.acc-card .connect-btn {
  width: 175px !important;
}

.acc-card span {
  font-size: 14px;
}

.acc-card {
  padding-top: 0px !important;
}

.acc-nav li {
  width: 22% !important;
  font-weight: 600;
  font-size: 16px;
  padding: 0px 20px;
}

.signup-modal,
.connect-modal {
  background-color: #ffffff38;
}

.modal-content,
.modal-dialog {
  max-width: 800px !important;
}

.signup-modal .modal-content,
.connect-modal .modal-content {
  background-color: #1e0338;
}

.signup-modal label,
.signup-modal ::placeholder,
.connect-modal label,
.connect-modal ::placeholder {
  color: #fff !important;
}

.form-control {
  background-color: transparent !important;
  border-radius: 30px !important;
  padding: 20px !important;
  margin-bottom: 20px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-item {
  font-size: 14px;
  font-weight: 800;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drp-down {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: -95px;
  z-index: 1;
  width: 140px;
  background-color: #fff;
  text-align: center;
  transition: all 1000ms ease;
  border-radius: 10px;
}

.drp-down.open {
  opacity: 1;
}

.drp-down ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 10px;
}

.drp-down ul li {
  padding: 5px;
  cursor: pointer;
}

.drp-down ul .li-item1 {
  border-radius: 10px 10px 0px 0px;
}

.drp-down ul .li-item2 {
  border-radius: 0px 0px 10px 10px;
}

.drp-down ul li:hover {
  background-color: #7819afc0;
  color: #fff;
}

/* SIDENAV */

.sidenav {
  min-height: 100vh;
  width: 280px;
  position: sticky;
  z-index: 0;
  top: 30;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 2px solid lightgray;
}

.sidenav a {
  padding: 5px 8px 5px 16px;
  margin-bottom: 18px;
  text-decoration: none;
  font-size: 18px;
  color: #fff !important;
  display: block;
  width: 230px !important;
  border-radius: 0px 60px 60px 0px;
  text-align: left;
}

.sidenav a img {
  margin: 4px 20px 6px 16px;
}

.sidenav a:hover {
  padding: 5px 8px 5px 16px;
  background: linear-gradient(to bottom, #ce60a5 0%, #6724a9 100%);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.sidenav .active {
  background: linear-gradient(to bottom, #ce60a5 0%, #6724a9 100%);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.sideNav {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .sideNav {
    display: block !important;
  }
  .drawerOpener {
    margin-left: -240px;
    margin-top: 5px;
  }
  .overview-card {
    margin: 0px 15px;
  }
  .acc-card .disconnect-btn,
  .acc-card .connect-btn {
    width: 70px !important;
    font-size: 10px;
    padding: 8px;
  }

  .acc-card .inner-row {
    padding: 0px !important;
  }

  .navbar-toggler-icon {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid lightgray !important;
    background-color: white !important;
  }
  .sidenav a {
    display: none;
  }
  .mb-sidenav {
    /* min-height: 600px;
    width: 280px;
    top: 30;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 2px solid lightgray; */
    text-align: left;
  }

  .mb-sidenav a {
    padding: 5px 8px 5px 16px;
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #fff !important;
    display: block;
    width: 230px !important;
    border-radius: 0px 60px 60px 0px;
    text-align: left;
  }

  .mb-sidenav a img {
    margin: 4px 20px 6px 16px;
  }

  .mb-sidenav a:hover {
    padding: 5px 8px 5px 16px;
    background: linear-gradient(to bottom, #ce60a5 0%, #6724a9 100%);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  .mb-sidenav .active {
    background: linear-gradient(to bottom, #ce60a5 0%, #6724a9 100%);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .ovr-title {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  body > #root > div {
    height: 100vh;
  }
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.nav-header .login-btn {
  margin-top: 5px !important;
}

/*
Home page
*/
.home-points {
  color: white;
  font-size: 15px;
}

.home-points strong {
  font-size: 22px;
  color: #FAA9C6;
}

.home-points-increase {
  color: #1CD1A1
}

.home-points-increase strong{
  color: #1CD1A1;
  font-size: 22px;
}

/* .graph-tooltip {
  text-align: center;
}

.graph-tooltip hr {
  border: 1px solid grey;  
}

.graph-tooltip b{
  color: green;
} */

.tool-tip {
  text-align: center;
  font-size: 14px;
  line-height: 0.8;
  font-weight: 550;
}

.green-text {
  color: green;
}

/*
  User page
*/

.activity {
  color: white;
}

.activity h3{
  font-size: 18px;
  font-weight: bold;
}

.activity h4{
  font-size: 0.8em !important;
  font-weight: bold;
}

.see-more h2 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.see-more h2 span { 
   background:#fff; 
   padding:0 10px; 
}


